[Desktop Entry]
Name=Update Manager
Name[ar]=مدير التطوير
Name[cs]=Správce aktualizací
Name[de]=Update-Manager
Name[es]=Administrador de actualizaciones
Name[fr]=Gestionnaire de mises à jour
Name[he]=מנהל עדכונים
Name[hu]=Frissítéskezelő
Name[it]=Gestione aggiornamenti
Name[ja]=更新マネージャー
Name[ko]=업데이트 관리자
Name[pt_BR]=Gerenciador de atualizações
Name[ru]=Диспетчер обновлений
Name[sk]=Správca Aktualizácií
Name[sv]=Uppdateringshanteraren
Name[zh_CN]=更新管理器
Name[zh_HK]=更新管理員
Name[zh_TW]=更新管理員
GenericName=Update Manager
GenericName[ar]=مدير التطوير
GenericName[cs]=Správce aktualizací
GenericName[de]=Update-Manager
GenericName[es]=Administrador de actualizaciones
GenericName[fr]=Gestionnaire de mises à jour
GenericName[he]=מנהל עדכונים
GenericName[hu]=Frissítéskezelő
GenericName[it]=Gestione aggiornamenti
GenericName[ja]=更新マネージャー
GenericName[ko]=업데이트 관리자
GenericName[pt_BR]=Gerenciador de atualizações
GenericName[ru]=Диспетчер обновлений
GenericName[sk]=Správca Aktualizácií
GenericName[sv]=Uppdateringshanteraren
GenericName[zh_CN]=更新管理器
GenericName[zh_HK]=更新管理員
GenericName[zh_TW]=更新管理員
Comment=Install available updates
Comment[ar]=نصّب التطويرات المتوفرة
Comment[cs]=Nainstalujte dostupné aktualizace
Comment[de]=Verfügbare Updates installieren
Comment[es]=Instalar actualizaciones disponibles
Comment[fr]=Installer les mises à jour disponibles
Comment[he]=התקן את העדכונים הזמינים
Comment[hu]=Elérhető frissítések telepítése
Comment[it]=Installa aggiornamenti disponibili
Comment[ja]=使用可能な更新をインストールします
Comment[ko]=사용 가능한 업데이트 설치
Comment[pt_BR]=Instalar atualizações disponíveis
Comment[ru]=Установить доступные обновления
Comment[sk]=Inštalovať dostupné aktualizácie
Comment[sv]=Installera tillgängliga uppdateringar
Comment[zh_CN]=安装可用更新
Comment[zh_HK]=安裝可用的更新
Comment[zh_TW]=安裝可用的更新
Exec=/usr/lib/pm-launch /usr/bin/pm-updatemanager
Icon=updatemanager
Terminal=false
MultipleArgs=false
StartupNotify=true
Type=Application
Encoding=UTF-8
Categories=UpdateManager;Applications;GTK;System;Settings;
NotShowIn=KDE;
X-KDE-SubstituteUID=true
