[Desktop Entry]
Name=Update Manager Notifier
Name[ar]=مبلّغ مدير التطويرات
Name[cs]=Oznamování aktualizací
Name[de]=Update-Manager-Benachrichtigung
Name[es]=Notificador del Administrador de actualizaciones
Name[fr]=Avertisseur du gestionnaire de mises à jour
Name[he]=מתריע למנהל עדכונים 
Name[hu]=Frissítéskezelő Értesítő
Name[it]=Notifica gestione aggiornamenti
Name[ja]=更新マネージャー通知
Name[ko]=업데이트 관리자 알림 표시자
Name[pt_BR]=Atualizar notificador do gerenciador
Name[ru]=Средство уведомления диспетчера обновлений
Name[sk]=Pripomienkovač Správcu Aktualizácií
Name[sv]=Meddelandefunktion för uppdateringshanteraren
Name[zh_CN]=更新管理器通知程序
Name[zh_HK]=更新管理員通知程式
Name[zh_TW]=更新管理員通知程式
GenericName=Update Manager Notifier
GenericName[ar]=مبلّغ مدير التطويرات
GenericName[cs]=Oznamování aktualizací
GenericName[de]=Update-Manager-Benachrichtigung
GenericName[es]=Notificador del Administrador de actualizaciones
GenericName[fr]=Avertisseur du gestionnaire de mises à jour
GenericName[he]=מתריע למנהל עדכונים 
GenericName[hu]=Frissítéskezelő Értesítő
GenericName[it]=Notifica gestione aggiornamenti
GenericName[ja]=更新マネージャー通知
GenericName[ko]=업데이트 관리자 알림 표시자
GenericName[pt_BR]=Atualizar notificador do gerenciador
GenericName[ru]=Средство уведомления диспетчера обновлений
GenericName[sk]=Pripomienkovač Správcu Aktualizácií
GenericName[sv]=Meddelandefunktion för uppdateringshanteraren
GenericName[zh_CN]=更新管理器通知程序
GenericName[zh_HK]=更新管理員通知程式
GenericName[zh_TW]=更新管理員通知程式
Comment=Notify user when updates are available
Comment[ar]=أبلغ المستخدم عند توفر التطويرات
Comment[cs]=Upozornit uživatele na nové aktualizace
Comment[de]=Benutzer über verfügbare Updates benachrichtigen 
Comment[es]=Notificar al usuario cuando haya actualizaciones disponibles
Comment[fr]=Avertir l'utilisateur lorsque des mises à jour sont disponibles
Comment[he]=הודע את המשתמש על עדכונים זמינים
Comment[hu]=Felhasználó értesítése új frissítések elérhetőségéről
Comment[it]=Avvisa utente quando sono disponibili degli aggiornamenti
Comment[ja]=更新が使用可能になった際にユーザーに通知します
Comment[ko]=업데이트 사용 가능 시 사용자에게 알림
Comment[pt_BR]=Notificar usuário quando as atualizações estiverem disponíveis
Comment[ru]=Уведомлять пользователя о наличии обновлений
Comment[sk]=Upozorniť užívateľa, keď sú k dispozícii nové aktualizácie
Comment[sv]=Meddela användaren när det finns tillgängliga uppdateringar
Comment[zh_CN]=当更新可用时通知用户
Comment[zh_HK]=有更新可用時通知使用者
Comment[zh_TW]=有更新可用時通知使用者
Exec=/usr/lib/updatemanagernotifier
Terminal=false
MultipleArgs=false
StartupNotify=true
Type=Application
Encoding=UTF-8
Categories=UpdateManagerNotifier;Applications;GTK;System;Settings;
NotShowIn=KDE;
X-KDE-SubstituteUID=true
