[Desktop Entry]
Name=Package Manager
Name[ar]=مدير الحزم
Name[cs]=Správce balíčků
Name[de]=Package Manager
Name[es]=Package Manager
Name[fr]=Gestionnaire de packages
Name[he]=מנהל החבילות
Name[hu]=Csomagkezelő
Name[it]=Package Manager
Name[ja]=パッケージマネージャー
Name[ko]=패키지 관리자
Name[pt_BR]=Gerenciador de pacote
Name[ru]=Диспетчер пакетов
Name[sk]=Správca Balíčkov
Name[sv]=Pakethanteraren
Name[zh_CN]=软件包管理器
Name[zh_HK]=套裝軟體管理員
Name[zh_TW]=套裝軟體管理員
GenericName=Package Manager
GenericName[ar]=مدير الحزم
GenericName[cs]=Správce balíčků
GenericName[de]=Package Manager
GenericName[es]=Package Manager
GenericName[fr]=Gestionnaire de packages
GenericName[he]=מנהל החבילות
GenericName[hu]=Csomagkezelő
GenericName[it]=Package Manager
GenericName[ja]=パッケージマネージャー
GenericName[ko]=패키지 관리자
GenericName[pt_BR]=Gerenciador de pacote
GenericName[ru]=Диспетчер пакетов
GenericName[sk]=Správca Balíčkov
GenericName[sv]=Pakethanteraren
GenericName[zh_CN]=软件包管理器
GenericName[zh_HK]=套裝軟體管理員
GenericName[zh_TW]=套裝軟體管理員
Comment=Install, update and remove software packages
Comment[ar]=نصّب، طوّر وأزل حزم البرمجيات
Comment[cs]=Instalovat, aktualizovat a odebrat balíčky
Comment[de]=Installieren, Aktualisieren und Entfernen von Softwarepaketen
Comment[es]=Instalar, actualizar y eliminar paquetes de software
Comment[fr]=Installe, met à jour et supprime les packages logiciels.
Comment[he]=התקן, עדכן והסר חבילות תוכנה
Comment[hu]=Szoftvercsomagok telepítése, frissítése és eltávolítása
Comment[it]=Installa, aggiorna e rimuove pacchetti software
Comment[ja]=ソフトウエアパッケージをインストール、更新または削除します
Comment[ko]=소프트웨어 패키지를 설치, 업데이트 및 제거
Comment[pt_BR]=Instalar, atualizar e remover os pacotes de software
Comment[ru]=Установить, обновить или удалить программные пакеты
Comment[sk]=Inštalácia, aktualizácia a odstránenie softvérových balíčkov
Comment[sv]=Installera, uppdatera och ta bort programpaket
Comment[zh_CN]=安装、更新和删除软件包
Comment[zh_HK]=安裝、更新與移除軟體套裝軟體
Comment[zh_TW]=安裝、更新與移除軟體套裝軟體
Exec=/usr/lib/pm-launch /usr/bin/packagemanager
Icon=packagemanager
Terminal=false
MultipleArgs=false
StartupNotify=false
Type=Application
Encoding=UTF-8
Categories=PackageManager;Applications;GTK;System;Settings;
NotShowIn=KDE;
X-KDE-SubstituteUID=true
MimeType=application/vnd.pkg5.info;
