.intltool-merge-cache
.make.state
/packages
/proto
/src/brand/fmri_compare
/src/brand/support
/src/gui/data/addmoresoftware.desktop
/src/gui/data/packagemanager-info.xml
/src/gui/data/packagemanager-preferences.schemas
/src/gui/data/packagemanager.desktop
/src/gui/help/*/*.mo
/src/gui/help/*/package-manager.xml
/src/pkg/pkgtmp
/src/po/*.mo
/src/po/i18n_errs.txt
/src/po/pkg.pot
/src/tests/multiplatform.pyc
/src/um/data/updatemanager-preferences.schemas
/src/um/data/updatemanager.desktop
/src/um/data/updatemanagernotifier.desktop
/src/zoneproxy/zoneproxy-adm/zoneproxy-adm
/src/zoneproxy/zoneproxy-client/zoneproxy-client
/src/zoneproxy/zoneproxyd/zoneproxyd
/src/tests/.timing_history.txt
/src/tests/*.pyc
/src/tests/*/*.pyc
/src/cffi_src/_*
